<%= render "/users/error", model: @user %>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>User info</h2>
      <p>Name</p>
      <%= form_with model: @user do |f| %>
      <%= f.text_field :name, class: "form-control mb-3" %>
      <p>Image</p>
      <%= f.file_field :profile_image, accept: "image/*", class: "mb-3" %>
      <p>Introduction</p>
      <%= f.text_area :introduction, class: "form-control" %><br>
      <%= f.submit "Update User", class: "btn btn-secondary mt-1" %>
      <% end %>
    </div>
  </div>
</div>


